#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }

  .description{
display:flex;
flex-direction: column;
align-items: center;
padding:5%;
margin:3%;
}
.description p{
margin:3%;
}