@import "../../global.scss";

.container {
  margin-top: 3%;
  padding: 1em;
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  h1 {
    font-family: "Oxygen", sans-serif;
  }

 
}
