@import "../../global.scss";

.articles {
  margin: 7vw;

  .row {
    display: flex;
    flex-wrap: wrap;
    @include mobile {
      flex-direction: column;
    }
  
    .cards {
      .articleCard {
        flex: 0 0 30%;
        @include mobile {
          flex: 0 0 90%;
        }
        @include tablet{
        flex: 0 0 44%;
        }
      }
      
    }
    #error{
      margin: 0 auto;
  padding: 10vw;
    }
  }
}
