@import "../../global.scss";

.articleCard {
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
  margin: 1em;
  img {
    width: 100%;
  }
  .description{
    padding: 0.5em;
  }
}
