@import "../../global.scss";


.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5em;
    background-color: $blackColor;

    .top {
        p {
            color: $whiteColor;
        }
    }
    .flex-row{
        display: flex;
        justify-content: center;
        align-items: center;
        a{
            font-family: 'Oxygen', sans-serif;
            text-decoration: none;
            color: $whiteColor;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: 1em;

            &:hover{
                
                text-decoration: underline;
            }
            

            .active{
                background-color: $goldColor;
            }
            .logo{
                width: 20px;
                height: 20px;
            }
            p{
                font-size: 15px;
                margin-left: 3px;
            }
        }

    }
}
