@import "../../global.scss";

.card {
    background-color: white;
    display: flex;
    position: relative;
    margin: 5% 3%;
    padding: 1% 3%;
    justify-content: space-around;
    flex-direction: column;
    box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
 
      @include mobile{
       padding: 0;
    }
    &:hover {
      opacity: 0.9;
    }
    .row {
      display: flex;
      justify-content: space-between;
      @include mobile{
        flex-direction:column-reverse;

    }


      .left {
        padding: 1em;
        border: inherit;
        button {
          pointer-events: auto;
          cursor: pointer;
          background: $blackColor;
          color: $whiteColor;
          border: inherit;
          padding: 1rem 1.5rem;
          margin: 0;
          font-family: inherit;
          font-size: inherit;
          position: relative;
          display: inline-block;

          &::before,
          &::after {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
        }
      }

      .right {
        img {
         padding: 0;
         height: 350px;
    width: 500px;
         
          @include mobile{
            width: 100%;
            height: auto;
         }
         
        }
      }
    }
  }
  .creation {
    padding: 1% 3%;
    width: inherit;
    display: flex;
    justify-content: space-between;
  }