@import "../../global.scss";

.container-page {
    background-image: url("../../Photos/background.jpg");
    padding: 10vw 0;
    background-repeat: no-repeat;
    background-size: cover;
    @include mobile {
        padding: 40vw 0;

    }
    .card-page {
        background-color: white;
        display: flex;
        flex-direction: row;
        padding: 1em 2em;
        @include mobile {
            flex-direction: column;
        }
        .left {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            @include mobile {
                justify-content: center;
            }

            img {
                width: 200px;
                border-radius: 100%;
                position: relative;
                top: -4em;
            }
            .flex-row {
                display: flex;
                justify-content: center;
                align-items: center;
                a {
                    font-family: "Oxygen", sans-serif;
                    text-decoration: none;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding-left: 1em;
                    border-radius: 0%;

                    .logo {
                        width: 20px;
                        height: 20px;
                    }
                    img {
                        border-radius: 0;
                        @include mobile {
                            top: 0;
                        }
                    }
                }
            }
        }
        .right {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;

            h1 {
                margin-left: 1em;
            }
            p {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: flex-start;
            }
        }
    }
}
